<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/myHead.ejs') %>
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home-Twitter</title>
  </head>
  <body>
    <div class="page-separation">
      <div class="w-50">
        <img class="h-100 imagen-izq" src="/img/twitterHome.jpg" alt="Imagen" />
      </div>
      <div class="w-50 h-100 right-part">
        <img class="logo-tw" src="/img/logoTwitter.png" alt="logoTwitter" />
        <h1 class="page-title">Lo que está pasando ahora</h1>
        <h3 class="second-title">Únete a Twitter hoy mismo.</h3>
        <div class="buttons">
          <button type="button" class="boton google-btn">
            Registrarse con Google
          </button>
          <button type="button" class="boton apple-btn">
            Registrarse con Apple
          </button>

          <a href="/register" type="button" class="boton telefono-btn">
            Registrarse con el número de teléfono
          </a>
          <p class="politicas">
            Al registrarte, aceptas los Términos de servicio y la Política
            <br />
            de privacidad, incluida la política de Uso de Cookies.
          </p>
          <h5>¿Ya tienes una cuenta?</h5>

          <a href="/login" type="button" class="boton iniciar-btn">
            Iniciar sesión
          </a>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/849e8c00db.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
