<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter. Es lo que está pasando</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <div class="contenedor">
      <div class="register-box pt-3">
        <div class="d-flex align-items-center px-2">
          <div
            class="cross-button d-flex align-items-center justify-content-center"
            role="button"
          >
            <i class="fa-solid fa-arrow-left-long"></i>
          </div>

          <h3>Paso 3 de 5</h3>
        </div>
        <div class="form-container">
          <h1>Crea tu cuenta</h1>
          <form action="">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nombre"
              />
              <label for="name">Nombre</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Correo electrónico"
              />
              <label for="email">Correo electrónico</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="birthday"
                placeholder="Fecha de nacimiento"
              />
              <label for="birthday">Fecha de nacimiento</label>
            </div>
            <p class="warning small">
              Al registrarte, aceptas nuestros <a href="">Términos</a>,
              <a href="">Política de privacidad</a> y
              <a href="">Política de uso de cookies</a>. Twitter podrá usar tu
              información de contacto, como tu dirección de correo electrónico y
              número de teléfono, con los fines descritos en nuestra Política de
              Privacidad, por ejemplo, mantener tu cuenta segura y personalizar
              nuestros servivicos, incluidos los anuncios.
              <a href="">Más información</a>. Otras personas podrán encontrarte
              por tu correo electrónico o número de teléfono, si los
              proporcionaste, a menos que elijas otra opción
              <a href="">aquí</a>.
            </p>
          </form>
        </div>

        <button class="register-button mt-3">Registrarse</button>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
