.btn__logOut {
  margin-top: 10px;
  border: none;
  padding: 15px 85px;
  border-radius: 30px;
  background: rgb(255, 255, 255, 0.8);
  color: black;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s background;
}

.btn__logOut:hover {
  background: white;
}

.btn__edit {
  margin-top: 10px;
  border: none;
  padding: 10px 50px;
  border-radius: 30px;
  background: rgb(255, 255, 255, 0.8);
  color: black;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s background;
}

.btn__edit:hover {
  background: white;
}
