h5 {
  color: black;
}

.btn__logOut {
  margin-top: 10px;
  border: none;
  padding: 15px 66px;
  border-radius: 30px;
  background: #1a8cd8;
  color: #e7e9ea;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s background;
}

.btn__logOut:hover {
  background: #1576b6;
}

.btn__edit {
  margin: 15px 0 0 15px;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background: transparent;
  color: #e7e9ea;
  border: 1px solid #e7e9ea;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s background;
}

.btn__edit:hover {
  background: rgba(0, 0, 0, 0.516);
}

.btn__guardar {
  margin: 10px 0;
  border: none;
  padding: 10px 50px;
  border-radius: 30px;
  background-color: rgb(78, 78, 223, 06);
  color: white;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s background;
}

.btn__guardar:hover {
  background-color: rgb(78, 78, 223);
}

.ocultar {
  display: none;
}

.btn__eliminar {
  margin-top: 10px;
  border: none;
  padding: 15px 52px;
  border-radius: 30px;
  background: #1a8cd8;
  color: #e7e9ea;
  font-size: 17px;
  font-weight: 700;
  transition: 0.3s background;
}

.btn__eliminar:hover {
  background: #1576b6;
}

.edit-container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 350px;
}
